table {
    table-layout: fixed;
    word-break: break-word;
}

.content {
    padding: 15px;
}

.tag,
.tag:visited {
    color: #828282;
}

.highlight,
code {
    background-color: #f8fbff !important;
}

.site-header {
    border-top: 5px solid #2a7ae2;
}

.card {
    border: 1px solid #2a7ae2;
    border-radius: .25rem;
}

.bg-img {
    background-size: cover;
    min-height: 180px;
    background-position: center;
    background-color: #fff;
}

.post-title {
    line-height: 1.3;
}

.post-header .bg-img {
    background-size: cover;
    min-height: 180px;
    background-position: center;
    background-color: #fff;
    border: 1px solid #a6a9ff;
    border-radius: .25rem;
}

.username,
.svg-icon {
    vertical-align: middle;
}

.pagination {
    width: 100%;
    padding: 0 20px;
    text-align: center;
}

.crosslink {
    width: 100%;
    padding: 0 20px;
    text-align: center;
}

.page-link {
    padding: 5px;
}