table {
    table-layout: fixed;
    word-break: break-word;
}

.content {
    padding: 15px;
}

.tag,
.tag:visited {
    color: #828282;
}

.highlight,
code {
    background-color: #f8fbff !important;
}

.card {
    border: 1px solid #d3d3d3;
    border-radius: .25rem;
}

.bg-img {
    background-size: cover;
    min-height: 180px;
    background-position: center;
    background-color: #fff;
}

.post-title {
    line-height: 1.3;
}

.post-header .bg-img {
    background-size: cover;
    min-height: 180px;
    background-position: center;
    background-color: #fff;
    border: 1px solid #d3d3d3;
    border-radius: .25rem;
}

.username,
.svg-icon {
    vertical-align: middle;
}

.pagination {
    width: 100%;
    padding: 0 20px;
    text-align: center;
}

.pagination ul {
    list-style: none;
}

.pagination ul li {
    display: inline;
    margin: 0 5px;
}

.pagination ul li a {
    color: black;
    text-decoration: none;
}

.pagination ul li a:hover {
    color: grey;
    text-decoration: underline;
}

.pagination ul li.current-page a {
    color: red;
}