---
layout: default
---
<div class="home">

  {{ content }}

  {% assign posts = site.posts %}
  {% if site.paginate %}
  {% assign posts = paginator.posts %}
  {% endif %}

  {%- if page.title -%}
  <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}


  <ul class="post-list">
    {% for post in posts %}
    <li>
      {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
      <div class="card">
        <a class="post-link" href="{{ post.url | relative_url }}">
          <div class="bg-img" style="background-image: url({{post.image}})"></div>
        </a>
        <div class="content">
          <h4>
            <a class="post-link" href="{{ post.url | relative_url }}">
              {{ post.title }}
            </a>
          </h4>
          <span class="post-meta">{{ post.date | date: date_format }} • {% include custom/read_time.html %} • {% include custom/tags.html %}</span>
          <p>
            {%- if site.show_excerpts -%}
            {{ post.excerpt | strip_html }}
            {%- endif -%}
          </p>
        </div>
      </div>

    </li>
    {%- endfor -%}
  </ul>

  {% if site.paginate %}
  <div class="pagination">
    {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path }}" class="previous">&laquo; Previous</a>
    {% endif %}

    <span class="page_number">Page {{ paginator.page }} of {{ paginator.total_pages }}</span>

    {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path }}" class="next">Next &raquo;</a>
    {% endif %}
  </div>
  {% endif %}

</div>